.yibiao {
	background-color: gray;
	max-width: 100%;
	height:80px;
	color:white;
	font-size: 25px;
	position: relative;
}
.yibiao p {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
}

.erbiao {
	float: left;
	background-color: lightgray;
	border: 1px solid gray;
	height: 80px;
	width: 80px;
}
.erbiao + ui {
	display: flex;
}