.yibiao {
	font-size: 30px;
	font-weight: bold;
}
.detail {
	display:flex;
	list-style-type: none;
	margin: 5px;
}

.detail>li{
	margin-right: 15px;
    margin-left:15px;
}

.erbiao {
	font-weight: bold;
	font-size:23px;
}

.sanbiao {
	font-weight: bold;
	margin-bottom: 0;
}
.sanbiao+p{
	margin-top: 0;
}